<!DOCTYPE html>
<html lang="es">
  <%- include ("./layouts/head") %>    
  <body>
  <%- include ("./layouts/header") %>

  <main class="col-12 col-s-12" style="display:block; clear:both;">

    <div class="titulo-producto">
      <h2 style="margin:50px;"><a>Auriculares y Cargadores</a></h2>
    </div>
  
    <section class="pantalla">  
    <div class="row">
        
        <div class="col-3 col-s-12" style="padding:20px;">          
          <div style="background-color: white; padding:15px;">            
            <img src="/images/pruebados.jpg" alt="Snow" style="width:100%">
            <a href="/productoInterno"class="texto-column">texto</a>         
          </div>          
        </div>

        <div class="col-3 col-s-12" style="padding:20px;">          
          <div style="background-color: white; padding:15px;">            
            <img src="/images/prueba.jpg" alt="Snow" style="width:100%">
            <a href="/productoInterno"class="texto-column">texto</a>           
          </div>          
        </div>        
        <div class="col-3 col-s-12" style="padding:20px;">          
          <div style="background-color: white; padding:15px;">            
            <img src="/images/pruebados.jpg" alt="Snow" style="width:100%">
            <a href="/productoInterno"class="texto-column">texto</a>         
          </div>          
        </div>

        <div class="col-3 col-s-12" style="padding:20px;">          
          <div style="background-color: white; padding:15px;">            
            <img src="/images/prueba.jpg" alt="Snow" style="width:100%">
            <a href="/productoInterno"class="texto-column">texto</a>           
          </div>          
        </div>        
</section>
   
</main>

<%- include ("./layouts/footer") %>

</body>
</html>
