
  * {box-sizing: border-box;}
   main {margin: 0; padding: 0; padding-top: 50px; border: 0;}

  .logo2{
   width: 50px;
   height: 50px;
   text-align: center;
   border-radius: 50px;
   margin-left: 110px;
   border: 1px solid color white;
  }

   /* boton inicio/registro */
   .btn-group a {
    text-align: center; 
    text-decoration: none;
    font-size: 17px;
    background-color: #636363;
    color: white;
    width: 50%;
    padding: 10px;
    margin: 15px 0 2px 0;
    border: 1px solid white;
    cursor: pointer; /* Puntero / icono de mano */
    float: left; /*Flotar los botones uno al lado del otro */
  }
  
   .btn-group button:not(:last-child) {
    border-right: none; /* Evitar bordes dobles */
  }
  
  /* Borrar flotadores (truco clearfix) */
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Agrega un color de fondo al pasar el mouse */
  .btn-group a:hover {
   color: white;
  }
  
  /* La imagen utilizada */
   .bg-img {
     background-image: url("/images/fondo usuario.jpg"); 
  
    /* Controla la altura de la imagen */
    height: 650px;
  
    /*Centra y escala la imagen de forma agradable*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
  
  /* Agregar estilos al contenedor de formularios */
  .container {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    right: 0;
    margin-top: 70px;
    margin-right: 540px;
    max-width: 300px;
    padding: 16px;
    background-color: white;
  }
  
  /* Campos de entrada de ancho completo */
    input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Establecer un estilo para el botón enviar */
  .btn {
    background-color: #636363;
    color: white;
    padding: 16px 20px;
    margin: 0 0 8px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 1;
  }
  
  .btn:hover {
    opacity: 0.8;
  }

.acceso-rapido{
   text-align: center; /*alineacion centrada */
}

/*iconos de acceso rapido */

  .iconos-registro{
    text-align: center;
    font-size: 30px;
  }

  /*agregue los colores a los botones de Facebook, Twitter y Google */
.fb i{
  background-color:blue;
  color: white;
  padding: 3px;
  margin: 3px 5px;
}

.twitter i{
  background-color: rgb(170, 27, 170);;
  color: white;
  padding: 3px;
  margin: 3px 5px;
}

.google i{
  background-color: red;
  color: white;
  padding: 3px;
  margin: 3px 5px;
}

/* css formulario de registro............................................................ */

/*la imagen */
.bg-registro-img{
  background-image: url("/images/fondo usuario.jpg"); 
  height: 800px;

 /*Centra y escala la imagen de forma agradable*/
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 } 
 
 .titulo-registrate{
   color:#636363;
   text-align: center;
 }

/*Campos de entrada de ancho completo */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/*Establecer un estilo para todos los botones */
button{
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Botones flotantes de cancelación y registro y agregue un ancho igual */
 .signupbtn {
  margin-left: 80px;
  width: 50%;
  background-color:#636363;
}

/* Agregar relleno a los elementos del contenedor */
.container-registro{
  padding: 16px;
  width: 24%;
  background-color: white;
  margin-left: 560px;
  margin-top: 40px;
}

/* Flotadores claros */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Cambiar estilos para el botón de cancelación y el botón de registro en pantallas extra pequeñas */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}