<!DOCTYPE html>
<html lang="es">
  <%- include ("./layouts/head") %>    
  <body>
  <%- include ("./layouts/header") %>

  <main class="col-12 col-s-12" style=" display:block; clear:both; background-color: white; padding-top:15%; padding-bottom:15%;">  
  
  <div id="carritoFlotante" class="carrito">
    <a href="/user/carrito" id="about"><i class="fas fa-shopping-cart"></i> </a>
  </div>
    
  <div style="padding: 20px;">

    <div class="contenedor-imagen-carrito">
    <img src="/images/apple airpods pro.jpg" class="imagen-carrito">
    <p class="nombre-producto-carrito">Apple Airpods pro</p>
    </div>
   
    <div>
    <p class="detalle-producto-carrito">total <span style="padding: 1px;border: solid 1px gray;">$32.850</span></p>
    <p class="detalle-producto-carrito">Cantidad <input type="number" min="1" max="3" value="1" required></p>
    <p class="detalle-producto-carrito">Precio $32.850</p>
    </div>

    <div class="boton-eliminar-comprar"> 
    <a>Borrar</a>
    <a>Comprar</a>
  
  </div>

<!--<div style="text-align: right; margin-right: 70px;"> 
    <button style="width: 10%;"> Comprar</button> 
    <button style="width: 10%;"> Borrar</button>
   </div> -->
  
</main>

<%- include ("./layouts/footer") %>

</body>
</html>