<!DOCTYPE html>
<html lang="es">
  <%- include ("./layouts/head") %>    
  <body>
  <%- include ("./layouts/header") %>

<main>
    
  <h2 class="titulo-carrito"><a>Tu Cesta está vacía :(</a></h2>

</main>

<%- include ("./layouts/footer") %>

</body>
</html>