<!DOCTYPE html>
<html lang="es">
  <%- include ("./layouts/head") %>    
  <body>
  <%- include ("./layouts/header") %> -->
<main>
  <div class="bg-registro-img"> 
  <form action="action_page.php" style="padding-top: 20px;">
    <div class="container-registro">
      <img src="/images/logo.jpg" class="logo2" style="margin-left: 130px;">
      <h2 class="titulo-registrate">Registrate</h2>
      <p>Completa los campos para registrate.</p>
      <hr>
        
      <label for="nombre y apellido"><b>Nombre y Apellido</b></label>
      <input type="text" placeholder="Enter nombre y apellido" name="nombre" required>

      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>
  
      <label for="psw"><b>Contraseña</b></label>
      <input type="password" placeholder="Enter Contraseña" name="psw" required>
  
      <label for="categoria"><b>Categoria</b></label>
      <select name="pais_x" id="pais_x">
          <option>seleccioar</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
      </select> <br><br>

      <label for="subir foto"><b>Subir foto</b></label>
      <p></p>
      <input type="file" id="foto_x" name="foto_x"><br><br>
  
      <label>
        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Recuerdame
      </label>
  
      <div class="clearfix">
        <button type="submit" class="signupbtn">Registrarse</button>
      </div>
    </div>
  </form>
</div> 
</main>

<%- include ("./layouts/footer") %>

</body>
</html>
