<!DOCTYPE html>
<html lang="es">
  <%- include ("./layouts/head") %>    
  <body>
  <%- include ("./layouts/header") %>como

  <main class="col-12 col-s-12" style="display:block; clear:both;">

    <div id="carritoFlotante" class="carrito">
      <a href="/user/carrito" id="about"><i class="fas fa-shopping-cart"></i> </a>
    </div>

    <div class="slider col-12 col-s-12" style="margin-bottom:50px;">
      <ul>
        <li><img src="/images/airpods.jpg" width="100%" height="900px"></li>
        <li><img src="/images/reloj.jpg" width="100%" height="900px"></li>
        <li><img src="/images/auricular.jpg" width="100%" height="900px"></li>
        <li><img src="/images/tripode.jpg" width="100%" height="900px"></li>
      </ul>
    </div>

    <div class="titulo-producto">
      <h2 style="margin-top: 800px;">Ofertas Imperdibles</h2>
    </div>
    
    <section class="pantalla">  
      <div class="row">
        
        <div class="col-3 col-s-12 producto-home" style="padding:20px; margin-top: 50px; margin-bottom: 100px;">          
          <a href="/product/11">
          <div style="background-color: white; padding:15px;">           
            <img src="/images/apple airpods pro.jpg" alt="Snow" style="width:100%; height: 300px;">
            <p class="texto-column" style=" font-size: 20px;">Apple Airpods pro</p>
            <p class="texto-column" style=" font-size: 25px;">$ 32.850 <span style="font-size: 18px; color: green;"> 10% off</span> </p>          
          </div>
          </a>           
        </div>

        <div class="col-3 col-s-12 producto-home" style="padding:20px; margin-top: 50px; margin-bottom: 100px;">          
          <a href="/product/10">
          <div style="background-color: white; padding:15px;">            
            <img src="/images/apple airpods.jpg" alt="Snow" style="width:100%; height: 300px">
            <p class="texto-column" style=" font-size: 20px;">Apple Airpods 2</p>
            <p class="texto-column" style=" font-size: 25px;">$ 27.499 <span style="font-size: 18px; color: green;"> 20% off</span> </p>       
          </div>
          </a>          
        </div>        
        
        <div class="col-3 col-s-12 producto-home" style="padding:20px;  margin-top: 50px; margin-bottom: 100px;">          
          <a href="/product/12">
          <div style="background-color: white; padding:15px;">            
            <img src="/images/auriculares inalambricos jbl e45btjpg.jpg" alt="Snow" style="width:100%; height: 300px">
            <p class="texto-column" style=" font-size: 20px;">Auricular Vincha E30 Jbl</p>
            <p class="texto-column" style=" font-size: 25px;">$ 9.990 <span style="font-size: 18px; color: green;"> 15% off</span> </p>          
          </div>
          </a>          
        </div>

        <div class="col-3 col-s-12 producto-home" style="padding:20px;  margin-top: 50px; margin-bottom: 100px;">          
          <a href="/product/13">
          <div style="background-color: white; padding:15px;">            
            <img src="/images/auriculares inalambricos philips TAH1205.jpg" alt="Snow" style="width:100%; height: 300px">
            <p class="texto-column" style=" font-size: 20px;">Auriculares Bluetooth Philips TAH4205BK/00</p>
            <p class="texto-column" style=" font-size: 25px;">$ 6.149 <span style="font-size: 18px; color: green;"> 5% off</span> </p>             
          </div> 
          </a>         
        </div>        
    </section>
   
    <!-- The video -->
    <video autoplay muted loop id="myVideo">
    <source src="/images/perfect phone video.mp4" type="video/mp4">
    </video>
    <!-- The video -->

    <div class="titulo-producto">
      <h2>Recomendado para voz</h2>
    </div>

    <section class="pantalla">  
        <div class="row">
          
          <div class="col-3 col-s-12 producto-home" style="padding:20px; margin-top: 50px; margin-bottom: 100px;">          
            <a href="/product/14">
            <div style="background-color: white; padding:15px;">            
              <img src="/images/gts 2 mini.jpg" alt="Snow" style="width:100%; height: 300px;">
              <p class="texto-column" style=" font-size: 20px;">Smartwatch Amazfit Gts 2 Mini</p>
              <p class="texto-column" style=" font-size: 25px;">$ 12.999 <span style="font-size: 18px; color: green;"> Mas vendido</span> </p>          
            </div> 
            </a>         
          </div>
  
          <div class="col-3 col-s-12 producto-home" style="padding:20px; margin-top: 50px; margin-bottom: 100px;">          
            <a href="/product/17">
            <div style="background-color: white; padding:15px;">            
              <img src="/images/smartwatch nictom sw11.jpg" alt="Snow" style="width:100%; height: 300px">
              <p class="texto-column" style=" font-size: 20px;">Reloj Smartwatch Nictom SW11</p>
              <p class="texto-column" style=" font-size: 25px;">$ 2.999 <span style="font-size: 18px; color: green;"> Mas vendido</span> </p>       
            </div> 
            </a>         
          </div>        
          
          <div class="col-3 col-s-12 producto-home" style="padding:20px;  margin-top: 50px; margin-bottom: 100px;">          
            <a href="/product/18">
            <div style="background-color: white; padding:15px;">            
              <img src="/images/aro de luz led 26 cm con trípode 2 metros.jpg" alt="Snow" style="width:100%; height: 300px">
              <p class="texto-column" style=" font-size: 20px;">Aro de luz led 26cm con tripode de 2mts</p>
              <p class="texto-column" style=" font-size: 25px;">$ 2.900 <span style="font-size: 18px; color: green;"> Mas vendido</span> </p>          
            </div>    
            </a>      
          </div>
  
          <div class="col-3 col-s-12 producto-home" style="padding:20px;  margin-top: 50px; margin-bottom: 100px;">          
            <a href="/product/20">
            <div style="background-color: white; padding:15px;">            
              <img src="/images/soporte de celular cuello flexible.jpg" alt="Snow" style="width:100%; height: 300px">
              <p class="texto-column" style=" font-size: 20px;">Soporte de celular para cuello</p>
              <p class="texto-column" style=" font-size: 25px;">$ 700 <span style="font-size: 18px; color: green;"> Mas vendido</span> </p>             
            </div>
            </a>          
          </div>        
      </section>

    <div style="position: relative; text-align: center; color: white; font-size: 40px;"> 
    <img src="/images/homefondocelular.jpg" alt="Snow" style="width:100%" height="720px">
    <div style="position: absolute; top: 350px; right: 50px;">QUEREMOS CONOCERTE!</div>
    <div style="position: absolute; top: 380px; right: 60px; font-size:30px ;">Dejanos un mensaje</div>
    </div> 
  </main>
  
<%- include ("./layouts/footer") %>
  
  
  </body>
</html>