<footer style="display:block; clear:both;">      
      <div class="footer col-12 col-s-12" id="footer" style="display:block; clear:both;">
            <div class="footer-contacto col-4 col-s-4" style="margin-top:20px;">
                  <p><span style="color: white;">CONTACTANOS</span></p>
                  <P style="color: white;">¡Aclaramos tus dudas!</P>
                  <P style="color: white;">¡Respondemos tus preguntas!</P>
                  <h4 style="display: inline; margin-right: 10px;"><a target="_blank" href="mailto:perfectPhone@gmail.com"><i class="fas fa-envelope" style="font-size: 22px; color: white;"></i></a></h4>
                  <h4 style="display: inline;"><a target="_blank" href="https://wa.me/5491157215382"><i class="fab fa-whatsapp" style=" background-color: green; border-radius: 50px; font-size: 22px;"></i></a></h4>
            </div>

            <div class="footer-redes col-4 col-s-4" style="margin-top:20px;">
                  <p style="font-size: 20x; color: white;">SEGUINOS</p>
                  <p style="color: white;">EN NUESTRAS REDES</p>
                  <h4 style="display: inline; margin-right: 10px;"><a href="https://www.facebook.com/wen.torres.31/" style="color: blue"><i class="fab fa-facebook-f fa-lg" style="color: blue;"></i></a></h4>
                  <h4 style="display: inline; margin-right: 10px;"><a href="https://www.facebook.com/wen.torres.31/" style="color: rgb(117, 53, 117)"><i class="fab fa-instagram fa-lg" style="color: fuchsia; background-color: white; border-radius: 4px;"></i></a></h4>
                  <h4 style="display: inline;"><a href="https://www.facebook.com/wen.torres.31/" style="color:#2196f3"><i class="fab fa-twitter fa-lg" style="color:#2196f3"></i></a></h4>
            </div>

            <div class="footer-derechos col-4 col-s-4" style="margin-top:5px;">
                  <a href="/"><img src="/images/logo.jpg" class="logo"></a>
                  <p style="color: white;">Accesorios para dispositivos móviles</p>
                  <h6 style="color: white;">Copyrigh © 2021 Perfect Phone</h6>
            </div>     
      </div>       
</footer>