<header>
  <div class="col-12 col-s-12 topnav" style="display:block; clear:both;">    
      <img src="/images/logo.jpg" class="logo">
      <input type="text" placeholder="Buscar..." class="barrabusqueda">
      <button type="button" class="barrabusqueda-btn"><i class="fa fa-search" style="margin-left: -8px"></i></button>
      
      <div class="topnav-right">
        <a href="/" class="enlace-menu"><i class="fa fa-fw fa-home"></i> Inicio</a>
        <!-- <div class="dropdown"> -->
          <a href="/product" class="enlace-menu"><i class="fa fa-dice-d6"></i> Productos</a>  
          <!--
          <div class="dropdown-content">
            <a href="/productos">Auriculares y Cargadores</a>
            <a href="#">Aros de luz y Soportes</a>
            <a href="#">Airpods y Cornetas</a>
            <a href="#">Relojes inteligentes</a>
          </div>
        </div>
         -->     
        <a href="#footer"><i class="fa fa-fw fa-envelope"></i> Contactos</a>
        <!-- <a href="/user/login"><i class="fa fa-fw fa-user"></i> Ingresar</a> -->
      
        <div class="dropdown">
          <a class="enlace-menu"><i class="fa fa-cog"></i></a>
          <div class="dropdown-content">
            <a href="/colores">Colores</a>
            <a href="/category/create">Categoria</a>            
          </div>       
        </div>
        <% if (locals.isLogged) { %>
        <div class="dropdown">
          <a class="enlace-menu"> <img src="/images/avatars/<%= locals.userLogged.avatar %>" width="40" style="border-radius: 100%;"> 
            Hola, <%= locals.userLogged.fullName %> <i class="fa fa-caret-down"></i></a>
          <div class="dropdown-content">
            <a href="/user/profile">Mi Perfil</a>
            <a href="/user/logout">Cerrar Sesión</a>
          </div>       
        </div> 
        <% } else { %> 
          <a href="/user/login"><i class="fa fa-fw fa-user"></i> Ingresar</a>  
        <% } %>
  </div>
</header>